files:
  "/tmp/unzip_model.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      mkdir -p /var/app/current/src/models/med
      unzip -q /var/app/current/vosk-model-en-us-daanzu-20200905.zip -d /tmp
      mv /tmp/vosk-model-en-us-daanzu-20200905 /var/app/current/src/models/med/

commands:
  01_unzip_model:
    command: "/tmp/unzip_model.sh"
    leader_only: true