files:
  "/tmp/download_and_unzip_model.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      set -ex
      URL="https://virtualscale-cdn.s3.us-east-2.amazonaws.com/vosk/models/med/vosk-model-en-us-daanzu-20200905.zip"
      mkdir -p /var/app/current/src/models/med
      curl -L "$URL" -o /tmp/model.zip
      unzip -q /tmp/model.zip -d /tmp
      mv /tmp/vosk-model-en-us-daanzu-20200905 /var/app/current/src/models/med/
      rm /tmp/model.zip

container_commands:
  01_download_and_unzip_model:
    command: "bash /tmp/download_and_unzip_model.sh"
    leader_only: true