commands
  command1:
    command: curl -L -o /tmp/model.zip https://virtualscale-cdn.s3.us-east-2.amazonaws.com/vosk/models/med/vosk-model-en-us-daanzu-20200905.zip
  command2:
    command: mkdir -p /var/app/current/src/models/med
  command3:
    command: unzip -q /tmp/model.zip -d /tmp
  command4:
    command: mv /tmp/vosk-model-en-us-daanzu-20200905 /var/app/current/src/models/med/
  command5:
    command: rm /tmp/model.zip