commands:
  01_create_directory:
    command: mkdir -p /var/app/staging/src/models/med
    ignoreErrors: true

  02_extract_file:
    command: unzip /tmp/vosk-model-en-us-daanzu-20200905.zip -d /var/app/staging/src/models/med
    ignoreErrors: true

  03_cleanup:
    command: rm /tmp/vosk-model-en-us-daanzu-20200905.zip
    ignoreErrors: true