commands:
  01_create_temp_directory:
    command: mkdir -p /var/app/ondeck/vosk_model_temp

  02_extract_and_move_file:
    command: unzip /tmp/vosk-model-en-us-daanzu-20200905.zip -d /var/app/ondeck/vosk_model_temp
    ignoreErrors: true

  03_extract_and_move_file:
    command: mv /var/app/ondeck/vosk_model_temp/vosk-model-en-us-daanzu-20200905 /var/app/current/src/models/med
    ignoreErrors: true

  04_cleanup:
    command: |
      rm -rf /var/app/ondeck/vosk_model_temp
      rm -f /tmp/vosk-model-en-us-daanzu-20200905.zip