commands:
  01_create_temp_directory:
    command: sudo mkdir -p /var/app/ondeck/vosk_model_temp

  02_extract_and_move_file:
    command: |
      sudo unzip /tmp/vosk-model-en-us-daanzu-20200905.zip -d /var/app/ondeck/vosk_model_temp
      sudo mv /var/app/ondeck/vosk_model_temp/vosk-model-en-us-daanzu-20200905 /var/app/current/src/models/med

  03_cleanup:
    command: |
      sudo rm -rf /var/app/ondeck/vosk_model_temp
      sudo rm -f /tmp/vosk-model-en-us-daanzu-20200905.zip